@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  background: url('miro.jpg'); 
  background-repeat: repeat-y;
  background-position: 2% 0;
  /*background-size: cover;*/
  background-color: #3C6E8F;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 60px solid rgba(0,0,0,.1); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.pärt {
	color: white;
	border-bottom: 1px solid rgba(255,255,255,.1);
	transition: .2s;
}

.pärt:hover {
	border-bottom: 1px solid rgba(255,255,255,.5);
	transition: .2s;
}

.app {
  margin-bottom: -80vw;
}

.arrow {
	text-align: center;
}

.arrow-link {
	border: none;
}

.home-header {
	background: url('blaue.jpg');
	background-repeat: repeat-y;
	background-size: cover;
}

.footer {
  width: 100vw;
  height: 10vw;
  background-color: rgba(0,0,0,.3);
  position: relative;
  top: 70vw;
  display: flex;
  border-top: 1px solid rgba(0,0,0,.5)
}

.home {
  text-align: center;
  /*border-right: 5vw solid rgba(0,0,0,.1);*/
  /*border-left: 5vw solid rgba(0,0,0,.3);*/
}

.home-header {
  background-color: #3C6E8F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	padding-right: 10px;
}

.title {
  margin-left: 4%;
  margin-bottom: -3%;
}

.navbar {
  margin-right: 3%;
}

.nav-links {
	color: white;
	text-decoration: none;
	padding: 2px;
	transition: .1s;
}

.nav-links:hover {
	background: rgba(0,0,0,.05);
	cursor: pointer;
	transition: .1s;
	color: rgba(0,0,0,.45);
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.section-title {
  font-size: 7vw;
  text-align: center;
  /*text-decoration: underline;*/
  background: rgba(0,0,0,.1);
  padding: 1vw 0;
  z-index: 1;
  color: white;
  text-shadow: .3px .3px rgba(0,0,0,.7);
}

.projects {
	/*background: url('miro.jpg');*/
	background: url('miro.jpg');
	background-size: cover;
	margin-top: -5.8vw; 
}

/* .path-div {
    margin: 0 auto;
    width: 5.5vw;
    background-color: rgba(255,255,255,.15);
    height: 531vw;
    position: absolute;
    left: 47.3%;
    margin-top: -6vw;
    z-index: -1;
  } */

.img-div {
	max-width: 100vw;
	padding-bottom: 5vw;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.responsive-img {
	max-width: 90vw;
	height: auto;
	border-radius: 2px;
    border: 1px solid rgba(255,255,255,.1);
    transition: .2s;
}

.responsive-img:hover {
	border: 2px solid rgba(0,0,0,0);
	transition: .2s;
	filter: blur(.35px);
	box-shadow: 2px 3px rgba(0,0,0,.1);
}

.notator-img {
  border: 2px solid rgba(255,255,255,.4);
  transition: .2s;
}

.logo-div {
	display: flex;
	flex-direction: row;
	/*padding-left: 10%;*/
  	justify-content: space-around;
  	/*margin: 0 2rem; */
}
.logo-div1 {
	margin: 0 2rem;
}
.logo-div2, .logo-div3 {
	margin: 0 4.7rem;
}

.git-div, .heroku-div, .github-div {
	margin-top: 15px;
	/*width: 4vw;*/
}

.git-img, .heroku-img, .github-img {
	max-width: 300%;
	height: auto;
}

.heroku-img {
	margin-left: 275%;
}

.github-img {
	max-width: 600%;
	height: auto;
	margin-top: 88%;
	margin-left: 285%;
}

.project-description-div {
	width: 100vw;
	position: relative;
}

.project-description-title {
	color: white;
	font-size: 6vw;
	margin-bottom: -2vw;
	font-weight: 700;
}

.project-description {
	color: white;
	font-size: 4.5vw;
	padding: 0 2vw;
	margin-bottom: 15%;
}

.dev-div {
	position: absolute;
	bottom: 6%;
	left: 5%;
  	right: 0;
  	margin: 0 auto;
}

.fab {
	padding-right: 17px;
	font-size: 8vw;
}

.logo-div-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .65rem;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 2px;
    width: 3.5rem;
    height: 2.2rem;
    padding: .4rem .4rem;
    cursor: pointer;
    /*margin-right: 1rem;*/
    transition: .2s;
}

.logo-div-sub:hover {
    background: rgba(0,0,0,.35);
    border: 1px solid rgba(0,0,0,.7);
    color: rgba(255,255,255,.0);
    transition: .2s;
}

.link-button {
	color: white;
	text-decoration: none;
}

footer > a {
  position: relative;
  /*color: #000;*/
  text-decoration: none;
}

footer > a:hover {
  color: white;
}

footer > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: .7vw;
  left: 0;
  background-color: rgba(0,0,0,.6);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.footer-flex-positioner {
	display: flex;
}

.footer-icons-div {
	margin: 0 auto;
	display: flex;	
	align-items: center;
}

.final-links {
	padding: 0 .8rem;
	color: black;
	font-size: 1.6rem;
}

.fa-angle-up, .fa-angle-down {
	color: white;
	animation: colorshift 4.3s infinite;
	filter: invert(1);
	width: 100px;
}

@keyframes colorshift {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes colorshift {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

.top-link {
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 1%;
  padding-top: 1vw;
  font-size: 5vw;
  transition: .2s ease-out;
}

.top-link:hover {
  color: rgba(255,255,255,.1);
  transition: .1s;
  /*text-decoration: underline;*/
  transition: .2s ease-in;
}


.about-div {	
	position: relative;
	height: auto;
	border-top: 3px solid rgba(0,0,0,.7);
	border-bottom: 3px solid rgba(0,0,0,.7);
	/*background: url('https://www.desktopbackground.org/p/2012/05/05/385402_were-inspired-by-wassily-kandinsky-barfoot-duggan_1800x1833_h.jpg');*/
	/* background-size: cover; */
	/*background-repeat: no-repeat;*/
	/*background-position: cover;*/
}

.about-flex-positioner {
	/*margin-bottom: -4em;*/
}

.kandinsky {
	background: url('kandinsky.jpg');
	position: absolute;
	top: 18%;
	background-size: cover;
	background-repeat: repeat-y;
	height: 100%;
	width: 100vw;
}

.about-section-title-div {
    background: rgba(27, 79, 74,.6);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    position: absolute;
    /* right: 0; */
    /* bottom: 100px; */
    /* left: 0; */
    /* padding: 0; */
    width: 100vw;
    height: 18%;
    /*right: 0;*/
    /* position: absolute; */
    top: 0;
    /*box-sizing: border-box;*/
    /*padding: 0 1rem; */
    /* padding: 1rem 0; */
}

/*for 320px*/
.about-section-title {
	box-sizing: border-box;
	font-size: 7vw;
	font-family:'Lato', sans-serif;
	font-weight: 300; 
	text-align: center;
	color: white;
	margin: 0 auto;  
}

/*.about-section-title {
	font-size: calc(5vw * .6);
}*/

.about-content {
	box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
	text-align: center;
	position: absolute;
	background: rgba(0,0,0,.4);
	padding: 0 calc(25vw * .1);
	right: 0;
	top: 118%;
	height: max-content;
	width: 100vw;
}

.about-content-div {
	background: rgba(0,0,0,.4);
	margin: 0;
	/*padding-top: 5rem;*/
	width: 25vw;
	height: 85%;
	position: absolute;
	right: 0;
	/*top: 10%;*/
	top: 15%;
	/*font-size: 2.5vw;*/
}

.par-container {
	/*margin-top: 2rem; */
}

.about-par {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	/*font-size: .8rem;*/
	font-size: .6rem;
	line-height: .8rem;
	color: white;
	/*margin-top: -.4rem;*/
	/*margin-bottom: 1.6rem;*/
	text-shadow: 1px 1px rgba(0,0,0,.2);
	/*border-bottom: 1px solid rgba(255,255,255,.2);*/
	/*padding-bottom: 1.3px;*/
}

.padding-div {
	position: relative;
	text-align: center;
  /*padding-left: 1vw;*/
}

.responsive-img-about {
	max-width: 10vw;
	height: auto;
	padding: 6vw;
}

.profile-photo {
  margin: .8rem 0;
  margin-bottom: .5rem;
  margin-top: 2.3rem;
  margin-right: 4.5rem;
  /*border: 1px solid rgba(245,222,179,.7);*/
  /*border:  1px solid rgba(255,255,255,.4);*/
  border-radius: 50%;
  /*box-shadow: 2px 2px rgba(0,0,0,.1);*/
  max-width: 4rem;
  /*filter: sepia();*/
  height: auto;
}
.up-arrow-div {
	text-align: center;
	margin-top: 10.3rem;
	margin-bottom: 1.6rem;
}

@media only screen and (min-width: 320px) {
	.title {
		margin-left: 11%;
	}
	.navbar {
		margin-right: 6.5%;
	}
	.top-link {
		font-size: 5vw;
	}
	.footer {
		padding: .7rem 0;
	}
}

@media only screen and (min-width: 350px) {
	.profile-photo {
		margin-top: 2.8rem;
		margin-right: 4.8rem;
	}
	body {
		background-position: 1% -18%;
	}
}

@media only screen and (min-width: 375px) {
	body {
		background-position: 1% -38%;
	}
}	

@media only screen and (min-width: 400px) {
	body {
		background-position: 1% -524%;
	}
	.profile-photo {
		max-width: 5rem;
		margin-top: 3.2rem;
		margin-right: 5.8rem;
	}
	.up-arrow-div {
		margin-top: 9rem;
		margin-bottom: 2.6rem;
	}
}

@media only screen and (min-width: 435px) {
	body {
		background-position: 1% -724%;
	}
}

@media only screen and (min-width: 450px) {
	body {
		background-position: 1% 740%;
	}
	.logo-div-sub {
		font-size: .85rem;
		width: 6.4rem;
    	height: 2.2rem;
    	padding: 0 .6rem;
	}
	.logo-div1 {
		margin: 0 1rem; 
	}
	.logo-div2, .logo-div3 {
		margin: 0 5.4rem; 
	}
	.about-content-div {
		/*margin-bottom: 4.8rem;*/
	}
	.profile-photo {
		max-width: 6rem;
		margin-top: 3.3rem;
		margin-right: 6.5rem;
	}
	.about-par {
		font-size: .8rem;
		line-height: 1rem;
	}
	footer > a:before {
		bottom: .8vw;
	}
	.up-arrow-div {
		margin-top: 14rem;
		margin-bottom: 3rem;
	}
	.final-links {
		padding: 0 .75rem; 
		font-size: 1.7rem;
	}
	.footer {
		padding: 0 0;
	}
}

@media only screen and (min-width: 470px) {
	body {
		background-position: 1% 840%;
	}
}
@media only screen and (min-width: 500px) {
	body {
		background-position: 1% 279%;
	}
	.profile-photo {
		max-width: 6.5rem;
		margin-top: 3.8rem;
		margin-right: 7.5rem;
	}
}

@media only screen and (min-width: 535px) {
	body {
		background-repeat: repeat-y;
		background-position: 1% 150%;
	}
}

@media only screen and (min-width: 550px) {
	body {
		background-repeat: repeat-y;
		background-position: 1% 145%;
	}
	.logo-div-sub {
		font-size: 1.05rem;
		width: 8rem;
    	height: 2.6rem;
    	padding: 0 .8rem;
	}
	.logo-div1 {
		margin: 0 1rem; 
	}
	.logo-div2, .logo-div3 {
		margin: 0 6.2rem; 
	}
	.about-content-div {
		/*margin-bottom: 5.8rem;*/
	}
	.profile-photo {
		max-width: 7.5rem;
		margin-top: 4.2rem;
		margin-right: 8.2rem;
	}
	.about-par {
		/*font-size: 1.2rem;*/
		/*line-height: 1.7rem;*/
	}
	.final-links {
		padding: 0 .8rem;
		font-size: 2.6rem;
	}
	.up-arrow-div {
		margin-bottom: 5rem;
	}
}

@media only screen and (min-width: 600px) {
	body {
		background-repeat: repeat-y;
		background-position: 1% 125%;
	}
	.profile-photo {
		max-width: 8rem;
		margin-top: 4.5rem;
		margin-right: 8.6rem;
	}
}

@media only screen and (min-width: 650px) {
	body {
		background-repeat: repeat-y;
		background-position: 0 120%;
	}
	.logo-div-sub {
		font-size: .83rem;
		width: 7.35rem;
    	height: 2.6rem;
    	padding: 0 .8rem;
	}
	.logo-div1 {
		margin: 0 3rem; 
	}
	.logo-div2, .logo-div3 {
		margin: 0 8.8rem; 
	}

	.project-description-title {
		font-size: 5vw;
	}

	.project-description {
		font-size: 3.5vw;
	}

	.about-content-div {
		/*margin-bottom: 6.8rem;*/
	}
	.profile-photo {
		max-width: 9rem;
		margin-top: 4.5rem;
		margin-right: 9.2rem;
	}
	.up-arrow-div {
		margin-bottom: 6.5rem;
	}
}

@media only screen and (min-width: 700px) {
	body {
		background-repeat: repeat-y;
		background-position: 0 105%;
	}
	.profile-photo {
		max-width: 9.5rem;
		margin-top: 4.9rem;
		margin-right: 10rem;
	}
}

@media only screen  and (min-width: 768px) {
	body {
		background-repeat: repeat-y;
		background-position: 0 -40%;
	}
	.section-title {
		font-size: 5vw;
	}

	.projects {
		margin-top: -4.15vw; 
	}

	.navbar {
		margin-right: 3%;
		margin-left: 4%;
	}

	.title {
		margin-right: 7%;
	}

	.img-div {
		max-width: 100vw;
		padding-bottom: 6vw;
		padding-left: 5vw;
		display: flex;
		text-align: left;
	}

	.responsive-img {
		max-width: 60vw;
		height: auto;
		border-radius: 2px;
	}

	/*.profile-photo {
		margin-top: 4vw;
	}*/

	.flex-positioner-div {
		margin-top: -25.5vw;
	}

	.scoresearch-flex-positioner {
		margin-top: -28.5vw; 
	}
	.gitapiary-flex-positioner {
		margin-top: -28.5vw;
	}

	.logo-div {
		display: flex;
		flex-direction: row;
		padding-left: 0;
  		justify-content: initial;
  		margin: 0; 
	}

	.logo-div2, .logo-div3 {
		margin: 0;
	}

	.logo-div-sub {
		margin-right: 1rem;
	}

	.git-div, .heroku-div, .github-div {
		margin-top: 15px;
		/*width: 6vw;*/
	}

	.git-img, .heroku-img, .github-img {
		max-width: 100%;
		height: auto;
	}

	.heroku-img {
		margin-left: 45%;
	}

	.github-img {
		max-width: 350%;
		height: auto;
		margin-top: 18%;
		margin-left: 45%;
	}

	.project-description-div {
		width: 40vw;
		text-align: none;
		position: relative;
		left: 57%;
	}

	.project-description-title {
		margin-left: 12vw;
		font-size: 4vw;
	}

	.project-description {
		margin-left: 10vw;
		font-size: 2.3vw;
	}

	.scoresearch-description {
		margin-bottom: 9vw;
	}

	.dev-div {
		position: absolute;
		bottom: 0;
		left: 30%;
    	font-size: .4vw;
	}

	.scoresearch-dev-div {
		margin-bottom: 3.2vw;
	}

	.fab {
		padding-right: 10px;
		font-size: 4vw;
	}

	.footer {
		margin-top: 10vw;
	}
	.top-link {
		font-size: 3vw;
	}
	/*top-link hover effect*/
	footer > a:before {
		bottom: 3.6vw;
	}
	.responsive-img-about {
		max-width: 10vw;
		height: auto;
		padding: 6vw;
	}

	.about-flex-positioner {
		/*display: flex;	
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		margin: 0 3rem;*/
	}

	.about-section-title-div {
		/*background: rgba(27, 79, 74,.8);*/
		/*font-family: 'Lato', sans-serif;*/
		/*font-weight: 200;*/
		font-size: calc(5vw * .6);
		width: 25vw;
		right: 0;
		height: 12%;
		/*text-decoration: none;*/
		/*position: absolute;*/
		/*top: 0;*/
	}

	.about-section-title {
		font-size: 2rem;
	}

	.kandinsky {
		top: 0;
		height: 100%;
		width: 75vw;
	}

	.about-content {
		padding: 0 calc(25vw * .06);
		right: 0;
		top: 12%;
		height: 88%;
		width: 25vw;
		/*font-size: 1.5vw;
	    /*margin-top: -3.5vw;
	}

	.about-content-div {
		/*position: relative;
		/*font-size: 2.5vw;*/
		/*margin-bottom: 0rem;*/
		/*margin-top: 7rem;*/
	}
	.padding-div {
		text-align: left;
	}
	.about-content-div {
		/*margin-top: 5.5rem;*/
		/*margin-bottom: 1.8rem;*/
	}
	.profile-photo {
		position: relative;
		bottom: 5rem;
		max-width: 8.7rem; 
		margin-left: 6rem;
		margin-bottom: -.5rem;
	}
	.about-par {
		font-size: .7rem;
		line-height: .9rem;
	}
	.up-arrow-div {
		margin-top: 1rem;
		margin-bottom: 6.5rem;
	}
}

@media only screen  and (min-width: 800px) {
	.profile-photo {
		margin-left: 6.7rem;
	}
}

@media only screen  and (min-width: 850px) {
	.about-content-div {
		/*position: relative;
		font-size: 2.5vw;
		margin-bottom: 0rem;
		margin-top: 7rem;*/
	}
	.about-content-div {
		/*margin-bottom: 2.8rem;*/
	}
	.profile-photo {
		max-width: 9.5rem; 
		margin-left: 6.9rem;
	}
	.about-par {
		font-size: .8rem;
		line-height: .99rem;
	}
	.about-flex-positioner {
		/*margin-bottom: -2rem;*/
	}
}

@media only screen  and (min-width: 900px) {
	body {
		/*background-repeat: no-repeat;*/
		background-position: 0 -90%;
	}
	.profile-photo {
		margin-left: 7.9rem;
	}
}

@media only screen  and (min-width: 950px) {
	.par-container {
		margin-top: -.5rem;
	}
	.about-par {
		font-size: .9rem;
		line-height: 1rem;
	}
	.profile-photo {
		max-width: 10rem;
		margin-left: 8.2rem; 
		margin-top: 5.3rem;
	}
}

@media only screen  and (min-width: 1000px) {
	body {
		/*background-repeat: no-repeat;*/
		background-position: 0 -200%;
	}
	.about-par {
		font-size: .94rem;
		line-height: 1.07rem;
	}
	.profile-photo {
		max-width: 10.5rem;
		margin-left: 8.8rem; 
		margin-top: 5.3rem;
	}
}


@media only screen  and (min-width: 1050px) {
	.project-description-title {
		font-size: 3.5vw;
	}
	.project-description {
		font-size: 2vw;
	}	
	.flex-positioner-div {
		margin-top: -22.5vw;
	}
	.scoresearch-flex-positioner {
		margin-top: -23vw; 
	}
	.gitapiary-flex-positioner {
		margin-top: -25vw;
	}
	.about-par {
		line-height: 1.15rem;
	}
}

@media only screen  and (min-width: 1100px) {
	body {
		/*background-repeat: no-repeat;*/
		background-position: 0 -250%;
	}
	.profile-photo {
		max-width: 11.5rem;
		margin-left: 9.8rem; 
		margin-top: 5.3rem;
	}
	.about-par {
		/*font-size: 1.03rem;*/
		line-height: 1.3rem;
	}
}

@media only screen and (min-width: 1150px) {
	body {
		/*background-repeat: no-repeat;*/
		background-position: 0 -320%;
	}
	.about-section-title {
		line-height: 3rem;
	}	
}

@media only screen  and (min-width: 1224px) {
	body {
		/*background-repeat: no-repeat;*/
		background-position: 0 -3000%;
	}
	.home-header {
    	background: url('https://emanatingjoy.files.wordpress.com/2014/12/der-weg-ins-blaue.jpg');
    	background-repeat: no-repeat;
    	background-size: cover;
	}
	.title, .nav-links {
    	font-family: 'Lato', sans-serif;
    	font-weight: 300;
	}
	.projects {
		margin-top: -2.5vw; 
	}

  /*.path-div {
    height: 163vw;
    margin: 0 auto;
    margin-top: -2.45vw;
    width: 5.5vw;
    background-color: rgba(0,0,0,.45);
    position: absolute;
    left: 47.3%;
    z-index: -1;
  }*/

	.section-title {
		font-size: 3vw;
	}

	.img-div {
		max-width: 100vw;
		padding-bottom: 5vw;
		padding-left: 5vw;
		display: flex;
		text-align: left;
	}

	.responsive-img {
		max-width: 40vw;
		height: auto;
		border-radius: 2px;
	}

	.flex-positioner-div {
		margin-top: 0;
	}

	.logo-div {
		display: flex;
		flex-direction: row;
	}

	.git-div, .heroku-div, .github-div {
		margin-top: 15px;
		/*width: 4vw;*/
	}

	.git-img, .heroku-img, .github-img {
		max-width: 100%;
		height: auto;
	}

	.heroku-img {
		margin-left: 45%;
	}

	.github-img {
		max-width: 300%;
		height: auto;
		margin-top: 18%;
		margin-left: 45%;
	}

	.project-description-div {
		width: 40vw;
	}

	.project-description-title {
		font-size: 2.3vw;
		margin-bottom: -1vw;
		position: relative;
		right: 30%;
	}

	.project-description {
		font-size: 1.5vw;
		margin-bottom: -10vw;
		position: relative;
		right: 30%;
	}

	.dev-div {
		position: absolute;
		top: 13vw;
		left: 0;
	}

	.scoresearch-dev-div {
		top: 11.5vw;
	}

	.fab {
		padding-right: 10px;
		font-size: 3vw;
	}

	.up-arrow-div {
		margin-bottom: 11.3rem;
	}

	.profile-photo {
    	margin-top: 5.6rem; 
    	margin-left: 10.5rem;
		max-width: 12.5rem; 
	}
	.par-container {
		margin-top: 1rem; 
	}
	.about-par {
		font-size: 1.03rem;
		line-height: 1.3rem;
	}
    .top-link {
    	font-size: 2vw;
    	margin-top: 3%;
  	}
  	/*top-link hover effect*/
	footer > a:before {
		bottom: 3.1vw;
	}
}

.fa-5x {
  /*display: block;*/
  color: white;
}

@media only screen  and (min-width: 1300px) {
	body {
		/*background-repeat: no-repeat;*/
		background-position: 0 -4650%;
	}
	/*.about-section-title-div {
		line-height: 3.5rem;
	}*/
	.about-section-title {
		font-size: 2.5rem;
		line-height: 3.5rem;
	}
	.profile-photo {
		max-width: 13rem;
		margin-left: 11.4rem; 
    	margin-top: 6rem; 
	}
	.about-par {
		font-size: 1.11rem;
		line-height: 1.4rem;
	}
}

@media only screen  and (min-width: 1318px) {
	body {
			/*background-repeat: no-repeat;*/
			background-position: 0 -4730%;
		}
}

@media only screen  and (min-width: 1345px) {
	body {
			/*background-repeat: no-repeat;*/
			background-position: 0 -4800%;
		}
}

@media only screen  and (min-width: 1386px) {
	body {
			/*background-repeat: no-repeat;*/
			background-position: 0 -4900%;
		}
}

@media only screen  and (min-width: 1400px) {
	body {
			/*background-repeat: no-repeat;*/
			background-position: 0 -1640%;
		}
	.profile-photo {
		max-width: 14rem;
		margin-left: 12.4rem; 
	}
	.about-par {
		font-size: 1.19rem;
		line-height: 1.45rem;
	}
}

@media only screen  and (min-width: 1500px) {
	.profile-photo {
		max-width: 15rem;
		margin-left: 13.4rem; 
	}
	.about-par {
		font-size: 1.23rem;
		line-height: 1.62rem;
	}
}

@media only screen  and (min-width: 1600px) {
	.profile-photo {
		max-width: 16.5rem;
		margin-left: 14rem; 
	}
	.about-par {
		font-size: 1.3rem;
		line-height: 1.7rem;
	}
	.about-section-title {
		font-size: 3rem;
		line-height: 4rem;
	}
}
